 <footer class="mainFooter">
            <section class="footerSection">
                <a href="/index.html"><button class="footerBtn">
                        <span class='bx bxs-home'></span>
                        <p>Home</p>
                    </button></a>
            </section>
            <section class="footerSection"><a href="/aboutme"><button class="footerBtn">
                        <span class='bx bxs-home-heart'></span>
                        <p>About me</p>
                    </button></a></section>
            <section class="footerSection main"><a href="/admin"><button class="footerBtn main">
                        <span class='bx bx-plus-circle addVideo'></span>
                    </button></a></section>
            <section class="footerSection"><a href="/allProjects"><button class="footerBtn">
                        <span class='bx bxs-folder-open'></span>
                        <p>All Projects</p>
                    </button></a></section>
            <section class="footerSection"><a href="/info"><button class="footerBtn">
                        <span class='bx bxs-info-circle'></span>
                        <p>About</p>
                    </button></a></section>

        </footer>
