 <footer class="mainFooter">
            <section class="footerSection">
                <a href="./index.html"><button class="footerBtn">
                        <span class='bx bxs-home'></span>
                        <p>Home</p>
                    </button></a>
            </section>
            <section class="footerSection"><a href="./future.html"><button class="footerBtn">
                        <span class='bx bxs-compass'></span>
                        <p>Future Projects</p>
                    </button></a></section>
            <section class="footerSection main"><a href="./addVideo.html"><button class="footerBtn main">
                        <span class='bx bx-plus-circle addVideo'></span>
                    </button></a></section>
            <section class="footerSection"><a href="./allProjects.html"><button class="footerBtn">
                        <span class='bx bxs-folder-open'></span>
                        <p>All Projects</p>
                    </button></a></section>
            <section class="footerSection"><a href="./info.html"><button class="footerBtn">
                        <span class='bx bxs-info-circle'></span>
                        <p>About</p>
                    </button></a></section>

        </footer>
