<header class="header">

HUJ DUPA CYCE WADOWICESS

            <div class="headercon con1">
                <button class="menu" id="button"><i class='bx bx-menu'></i></button>
                <a href="./index.html">
                    <h1 class="author"> Mikołaj Gładysz</h1>
                </a>
            </div>
            <div class="headercon con2">

                <input type="text" placeholder="Search">
                <button class="serchButton"><i class='bx bx-search'></i></button>

            </div>
            <div class="headercon con3">

                <div class="contact">
                    <a href="./contact.html"> <i class='bx bxs-contact'><span class="tooltip">Contact</span></i></a>

                    <a href="./aboutme.html"> <i class='bx bxs-home-heart'><span class="tooltip">About me</span></i></a>

                    <a href="./info.html"> <i class='bx bxs-info-circle'><span
                                class="tooltip">Information</span></i></a>

                </div>
            </div>
            <div class="headercon con4">
                <a href="./image/cvImage.jpg"> <img src="image/cvImage.jpg"
                        style="border-radius: 50%; width: 40px;height: 40px; margin-top: 5px;"></a>

            </div>
        </header>