<header class="header">
            <div class="headercon con1">
                <button class="menu" id="button"><span class='bx bx-menu'></span></button>
                <a href="/index.html">
                    <h1 class="author"> Mikołaj Gładysz</h1>
                </a>
            </div>
            <div class="headercon con2">

                <input type="text" placeholder="Search">
                <button class="serchButton"><span class='bx bx-search'></span></button>

            </div>
            <div class="headercon con3">

                <div class="contact">
                    <a href="/contact"> <span class='bx bxs-contact'><span class="tooltip">Contact</span></span></a>

                    <a href="/aboutme"> <span class='bx bxs-home-heart'><span class="tooltip">About me</span></span></a>

                    <a href="/info"> <span class='bx bxs-info-circle'><span
                                class="tooltip">Information</span></span></a>

                </div>
            </div>
            <div class="headercon con4">
                <a href="/image/cvImage.jpg"> <img src="/image/cvImage.jpg"
                        style="border-radius: 50%; width: 40px;height: 40px; margin-top: 5px;"></a>

            </div>
        </header>