   <nav class="sideBar">
            <ul class="nav List">
                <li>
                    <a href="/index.html">
                        <div class="sideBtn btn1"><i class='bx bxs-home'></i>Hoome</div>
                    </a>

                </li>

                <li>
                    <a href="/future">
                        <div class="sideBtn"><i class='bx bxs-compass'></i>Future pisnaorojects</div>
                    </a>

                </li>

                <li>
                    <a href="/allProjects">
                        <div class="sideBtn"><i class='bx bxs-folder-open'></i>All projects</div>
                    </a>

                </li>
            </ul>

        </nav>