<div class="tagsCon" onload="videoFiler()">

    <button class="tagsBtn active-tags">All</button>
    <button class="tagsBtn">JS</button>
    <button class="tagsBtn">CSS</button>
    <button class="tagsBtn">HTML</button>
    <button class="tagsBtn">Java</button>

    

</div>
<script>
    let list = document.querySelectorAll('.tagsBtn');
    for (let i = 0; i < list.length; i++) {
        list[i].onclick = function () {
            let j = 0;
            while (j < list.length) {
                list[j++].className = 'tagsBtn';
            }
            list[i].className = 'tagsBtn active-tags';
        }
    }
</script>
<div class="grid">
    {%- for post in collections.post -%}
    <div style="display: none;" class="tags-hidden"> {{post.data.tags}}</div>
    <a href="{{post.url}}" class="{{post.data.tags}} video-href">
        <article class="video">

            <div class="imgCon">
                <img src="{{post.data.image4}}" alt="{{post.data.imageAlt}}">
                <img src="{{post.data.image3}}" alt="{{post.data.imageAlt}}" class="thumbnail tn2">
                <img src="{{post.data.image2}}" alt="{{post.data.imageAlt}}" class="thumbnail tn3">
                <img src="{{post.data.image1}}" alt="{{post.data.imageAlt}}" class="thumbnail tn4">
            </div>
            <section class="description">
                <div class="avatar">
                    <img src="image/cvImage.jpg" alt="{{post.data.imageAlt}}" class="avatarImg">
                </div>

                <div class="titlecon">
                    <p class="title" id="dupa">
                        {{post.data.title}}</p>
                    <p class="titleU">Mikołaj
                        <span class='bx bxs-check-circle'></span>
                        {{post.data.views}}
                    </p>

                </div>

            </section>

        </article>
    </a>

    {%- endfor %}
    <script>
        let btns = document.getElementsByClassName("tagsBtn");

        for (let i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", videoFilter);
        }

        function videoFilter() {
            let elemTags = document.getElementsByClassName("tags-hidden");
            let chosenTag = document.getElementsByClassName("active-tags");
            if(chosenTag[0].innerHTML.includes("All")){
                for(let i = 0; i<elemTags.length; i++){
                    let allvideo = document.getElementsByClassName("video-href");
                    allvideo[i].style.display = "block";
                }
            }
            else{
            for (let i = 0; i < elemTags.length; i++) {

                let currentTag = document.getElementsByClassName(elemTags[i].innerHTML);
                if (elemTags[i].innerHTML.includes(chosenTag[0].innerHTML)) {
                    for (let j = 0; j < currentTag.length; j++) {
                        currentTag[j].style.display = "block";
                    }
                }
                else {
                    for (let j = 0; j < currentTag.length; j++) {
                        currentTag[j].style.display = "none";
                    }
                }
            }
        }
        }
        



    </script>
</div>