--- 
layout: 'base.njk' 
---
<div class="page-con">
    <h1 class="page-h1"> {{ title }} TEST </h1>
    <h2 class="page-h2">{{ tags }}</h2>
    <section class="video-section">
        <p class="textBig">{{ p1t }}</p>
        <p class="textSmall line">{{p1c}}</p>
    </section>
    <section class="video-section">
        <p class="textBig">{{p2t}}</p>
        <p class="textSmall line"> {{ p2c }} </p>
    </section>
    <section class="video-section">
        <div class="page-column2">
            <div style="margin-bottom:15px;">
                <p class="textBig textCenter">{{c1tl}}</p>
                <p class="textSmall">{{c1cl}}</p>
            </div>
            <div>
                <p class="textBig textCenter">{{c1tr}}</p>
                <p class="textSmall">{{c1cr}}</p>
            </div>
        </div>
    </section class="video-section">
    <div class="page-column3">
        <div>
            <p class="textBig textCenter">{{c2tl}}</p>
            <p class="textSmall">{{c2cl}}</p>
        </div>
        <div>
            <p class="textBig textCenter">{{c2tm}}</p>
            <p class="textSmall">{{c2cm}}</p>
        </div>
        <div>
            <p class="textBig textCenter">{{c2tr}}</p>
            <p class="textSmall">{{c2cr}}</p>
        </div>

    </div>
    <section class="video-section">
        <p class="textBig">{{p3t}}</p>
        <p class="textSmall">{{p3c}}</p>
    </section>

    <p class="textBig" style="margin-top:20px;">More Info</p>
    <p class="textSmall">Github: <a href="#" class="hyperlink">{{gitlink}}</a></p>
</div>