---
title: About Me
layout: 'base.njk'
---
    <div class="page-con">
    <h1 class="page-h1">About me</h1>
    <p class="textBig">Quick introduction</p>
    <p class="textSmall line">Hello! My name is Mikołaj. I come from small Polish town, close to the sea. I am a novice programmer, who is just taking his first steps in his career, with a dream to become senior developer
    </p>
   
    <p class="textBig">My jurney with programming</p>
    <p class="textSmall line">When I was 13 years old, youtube and computer games were my main occupation. One day I came across a live stream of a game developer and I couldn't get over the fact that a streamer, that is my age could do things I could only dream of. I felt incredibly jealous and decided to learn to program myself</p>

    <p class="textBig">Starting from scratch...</p>
    <p class="textSmall line">...literally, I started by making games on scratch. It was very educational and entertaining. Soon after I have learned basics of C++ and at this point, programming became my passion</p>

    <p class="textBig">My future career</p>
    <p class="textSmall line">I didn't specialize in any particular field, I love frontend, backend, testing, basically anything IT related. In the future I would like to explore topics related to artificial intelligence, but right now, I am looking for any opportunity to broaden my skills</p>

    <p class="textBig">Life beyond programming</p>
    <p class="textSmall">When I step away from the computer, I do calisthenics, work out at the gym and play chess ( my ranking is 1300 on lichess )</p>
</div>