---
title: All Projects
layout: 'base.njk'
---
<div class="page-con">
               {%- for post in collections.post -%}
            <a href="{{post.url}}">
             <article class="video-detail">
                        <img src="{{post.data.image1}}" alt="{{post.data.imageAlt}}" class="thumbnail-detail">       
                    <section class="description-detail">
                    
                        <p class="title-detail">{{post.data.title}}</p>
                        <p class="views-detail">{{post.data.author}} {{post.data.views}} views 4 days ago</p>
                        <p class="description-short">{{post.data.description_short}}</p>
                        
                    </section>
                </article></a>
        {%- endfor %}}
        </div>