---
title: My homepage
layout: 'base.njk'
---
    <div class="page-con">
       <h1 class="page-h1">Contact</h1>
        <p class="textBig">If You like my CV website and are interested in further cooperation</p>
        <p class="textSmall line">Make sure to e-mail me</p>
        
        <p class="textBig">E-mail: <a href="mailto:mikolajgladysz01@gmail.com" class="hyperlink">mikolajgladysz01@gmail.com</a></p>
        <p class="textSmall">I will be thankfull for all the feedback</p>
  
</div>