---
title: My homepage
layout: 'base.njk'
---
{% include 'video.njk' %}
   
    <script>
        let btn = document.querySelector("#button");
        let sidebar = document.querySelector(".sideBar");
        let project = document.querySelector(".project")
        btn.onclick = function () {
            sidebar.classList.toggle("active");
            project.classList.toggle("active");

        }
    </script>
